ebu_tt_live/xsd/ebutt_d.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tt="http://www.w3.org/ns/ttml"
	xmlns:ebuttdt="urn:ebu:tt:datatypes" xmlns:ttp="http://www.w3.org/ns/ttml#parameter"
	xmlns:tts="http://www.w3.org/ns/ttml#styling" xmlns:ttm="http://www.w3.org/ns/ttml#metadata"
	xmlns:ebuttm="urn:ebu:tt:metadata" xmlns:ebutts="urn:ebu:tt:style"
	xmlns:itts="http://www.w3.org/ns/ttml/profile/imsc1#styling"
	xmlns:ittp="http://www.w3.org/ns/ttml/profile/imsc1#parameter"
	targetNamespace="http://www.w3.org/ns/ttml"
	elementFormDefault="qualified"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/ttml#styling" schemaLocation="styling.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/ttml#parameter" schemaLocation="parameter.xsd"/>
	<xs:import namespace="urn:ebu:tt:metadata" schemaLocation="ebutt_metadata.xsd"/>
	<xs:import namespace="urn:ebu:tt:style" schemaLocation="ebutt_styling.xsd"/>
	<xs:import namespace="urn:ebu:tt:datatypes" schemaLocation="ebutt_datatypes.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/ttml#metadata" schemaLocation="metadata.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/ttml/profile/imsc1#styling"
		schemaLocation="imsc1-styling.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/ttml/profile/imsc1#parameter"
		schemaLocation="imsc1-parameters.xsd"/>
	<xs:complexType name="d_head_type">
		<xs:annotation>
			<xs:documentation>Contains metadata as well as layout and styling information that are
				referenced by the subtitle blocks in the body.</xs:documentation>
		</xs:annotation>
		
		<xs:sequence>
			<xs:element ref="ttm:copyright" minOccurs="0"/>
			<xs:element name="metadata" type="ebuttm:headMetadata_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Generic container for metadata information that applies to
						the whole document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="styling" type="tt:d_styling_type"/>
			<xs:element name="layout" type="tt:d_layout_type"/>
		</xs:sequence>
	
	</xs:complexType>
	<xs:complexType name="d_metadata_type">
		<xs:annotation>
			<xs:documentation>Container for metadata information.</xs:documentation>
		</xs:annotation>
		
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
		
	</xs:complexType>
	<xs:complexType name="d_styling_type">
		<xs:annotation>
			<xs:documentation>Container for styling information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			<xs:element name="style" type="tt:d_style_type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="d_style_type">
		<xs:annotation>
			<xs:documentation>Set of style information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:id" use="required">
			<xs:annotation>
				<xs:documentation>ID of a tt:style element that is used by other elements for
					reference.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="tts:direction"/>
		<xs:attribute ref="tts:fontFamily"/>
		<xs:attribute ref="tts:fontSize"/>
		<xs:attribute ref="tts:lineHeight"/>
		<xs:attribute ref="tts:textAlign"/>
		<xs:attribute ref="tts:color"/>
		<xs:attribute ref="tts:backgroundColor"/>
		<xs:attribute ref="tts:fontStyle"/>
		<xs:attribute ref="tts:fontWeight"/>
		<xs:attribute ref="tts:textDecoration"/>
		<xs:attribute ref="tts:unicodeBidi"/>
		<xs:attribute ref="tts:wrapOption"/>
		<xs:attribute ref="ebutts:multiRowAlign"/>
		<xs:attribute ref="ebutts:linePadding"/>
		<xs:attribute ref="itts:fillLineGap"/>
	</xs:complexType>
	<xs:complexType name="d_layout_type">
		<xs:annotation>
			<xs:documentation>Container element for layout information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			<xs:element name="region" type="tt:d_region_type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="d_region_type">
		<xs:annotation>
			<xs:documentation>Defines a space or area for the display of subtitle
				content.</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:id" use="required">
				<xs:annotation>
					<xs:documentation>ID of a region.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="tts:origin" use="required"/>
			<xs:attribute ref="tts:extent" use="required">
				<xs:annotation>
					<xs:documentation>Width and height of a region area. Values in percentage shall
						be relative to the width and height of the active
						picture.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="style" type="xs:IDREFS">
				<xs:annotation>
					<xs:documentation>ID(s) of one or more style element(s).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="tts:displayAlign"/>
			<xs:attribute ref="tts:padding">
				<xs:annotation>
					<xs:documentation>Padding (or inset) space on all sides of a region
						area.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="tts:writingMode"/>
			<xs:attribute ref="tts:showBackground"/>
			<xs:attribute ref="tts:overflow"/>
	</xs:complexType>
	<xs:complexType name="d_body_type">
		<xs:annotation>
			<xs:documentation>Container of the subtitle and the timing
				information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			<xs:element name="div" type="tt:d_div_type" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="style" type="xs:IDREFS"/>
		<xs:attribute ref="ttm:agent"/>
		<xs:attribute ref="ttm:role"/>
	</xs:complexType>
	<xs:complexType name="d_div_type">
		<xs:annotation>
			<xs:documentation>Logical container of textual content.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="p" type="tt:d_p_type"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute ref="xml:id">
			<xs:annotation>
				<xs:documentation>ID of a tt:div element that may be used by an external
					application.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="region" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation>Application of layout and style information through reference
					of a region.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="style" type="xs:IDREFS">
			<xs:annotation>
				<xs:documentation>ID(s) of one or more style element(s). The style information
					shall be applied to the enclosed content of the tt:div
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ttm:agent"/>
		<xs:attribute ref="ttm:role"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:complexType name="d_p_type" mixed="true">
		<xs:annotation>
			<xs:documentation>Logical paragraph.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="br" type="tt:d_br_type"/>
				<xs:element name="span" type="tt:d_span_type"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute ref="xml:id" use="required">
			<xs:annotation>
				<xs:documentation>Unique ID of a subtitle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xml:space">
			<xs:annotation>
				<xs:documentation>Indicates the author’s intention of white space handling
					within the content of the tt:p element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xml:lang">
			<xs:annotation>
				<xs:documentation>Language identifier that overwrites the language
					identification of the enclosed subtitle content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="region" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation>Application of layout information through reference of a
					region.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="style" type="xs:IDREFS">
			<xs:annotation>
				<xs:documentation>ID(s) of one or more style element(s). The style information
					shall be applied to the enclosed content of the tt:p
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="begin" type="ebuttdt:mediaTimingType">
			<xs:annotation>
				<xs:documentation>Start point of a temporal interval associated with a tt:p
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="ebuttdt:mediaTimingType">
			<xs:annotation>
				<xs:documentation>End point of a temporal interval associated with a tt:p
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ttm:agent"/>
		<xs:attribute ref="ttm:role"/>
	</xs:complexType>
	<xs:complexType name="d_span_type" mixed="true">
		<xs:annotation>
			<xs:documentation>Inline element to allow the application of local style information,
				annotation or metadata.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="br" type="tt:d_br_type"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute ref="xml:id">
			<xs:annotation>
				<xs:documentation>ID of a tt:span element that may be used by an external
					application.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xml:space">
			<xs:annotation>
				<xs:documentation>Indicates the authors’ intention of white space handling
					within the content of the element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xml:lang">
			<xs:annotation>
				<xs:documentation>Language identifier that overwrites the language
					identification of the enclosed subtitle content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="style" type="xs:IDREFS">
			<xs:annotation>
				<xs:documentation>ID(s) of one or more style element(s). The style information
					shall be applied to the enclosed content of the tt:span
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="begin" type="ebuttdt:mediaTimingType">
			<xs:annotation>
				<xs:documentation>Start point of a temporal interval associated with the
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="ebuttdt:mediaTimingType">
			<xs:annotation>
				<xs:documentation>End point of a temporal interval associated with the
					element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ttm:agent"/>
		<xs:attribute ref="ttm:role"/>
	</xs:complexType>
	<xs:complexType name="d_br_type">
		<xs:annotation>
			<xs:documentation>Forced line break.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadata" type="tt:d_metadata_type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="ttm:role"/>
	</xs:complexType>
	<xs:complexType name="d_tt_type">
		<xs:annotation>
			<xs:documentation>Root element of an EBU-TT-D XML document.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="head" type="tt:d_head_type"/>
			<xs:element name="body" type="tt:d_body_type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:space">
			<xs:annotation>
				<xs:documentation>Indicates the author’s intention of white space handling
					within the content of the EBU-TT-D document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ttp:timeBase" use="required"/>
		<xs:attribute ref="ttp:cellResolution"/>
		<xs:attribute ref="xml:lang" use="required">
			<xs:annotation>
				<xs:documentation>The language for which the EBU-TT-D document is prepared. (STL
					mapping: Language Code (LC))</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="ittp:activeArea"/>
	</xs:complexType>
	<xs:element name="ttd" type="tt:d_tt_type">
		<xs:annotation>
			<xs:documentation>This element is deliberately misnamed (should be "tt") to disambiguate
				relative to the EBU-TT Part 3 element of the same name, so that the bound classes
				can be distinguished by the bindings generator. This XSD is not intended for
				standalone use outside the EBU-TT Live Interoperability Toolkit's EBU-TT-D Encoder.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
